* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main: #af0000;
}

.navbar {
  background: #fff;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem !important;
}

.landing-container {
  height: 35rem !important;
  background-image: linear-gradient(
      rgba(40, 40, 40, 0.6),
      rgba(40, 40, 40, 0.6)
    ),
    url("../images/main/tbilisi.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-wrap {
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-shadow: 0 0 5px #fff;
}

.landing-wrap h1 {
  color: #fff;
  font-size: 4rem;
}

.landing-wrap p {
  color: #fff;
  font-size: 1.3rem;
}

.carousel {
  height: 100%;
}

.why-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 4rem;
}
.why-left {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.why-left h2 {
  font-weight: bold;
}

@media (max-width: 990px) {
  .landing-wrap {
    text-align: center;
    padding-left: 0;
  }
}

@media (max-width: 990px) {
  .landing-wrap h1 {
    font-size: 2rem;
  }
  .landing-wrap p {
    font-size: 1rem;
  }
}
